@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-SemiBoldItalic.eot'),
  url('/assets/fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
  url('/assets/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}