@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-Regular.eot'),
  url('~@/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/OpenSans-Regular.woff') format('woff'),
  url('~@/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}