//FONTS
$openSans: 'Open Sans', sans-serif;
$size-big: calc(30px + 4.684vw); //90px


//COLORS

$color-black-bg: rgba(0, 0, 0, 1);
$color-white-bg: rgba(0, 0, 0, 1);

$color-yellow: rgba(210, 163, 65, 1);
$color-red: rgba(220, 6, 0, 1);
$color-grey: rgba(197, 197, 197, 1);
$color-grey-dark: rgba(90, 90, 90, 1);
$color-grey-light: rgba(222, 222, 222, 1);
$color-grey-lighter: rgba(240, 240, 240, 1);
$color-black: rgba(0, 0, 0, 1);
$color-black-trans: rgba(0, 0, 0, .5);
$color-white: rgba(255, 255, 255, 1);

$settings-grey: #c0c0c0;
$settings-grey-dark: #9f9f9f;